<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>create booking slot</h1>
    <form action="/createslot" method="post">
        <input type="datetime-local" name="slot">
        <button>Create Slot</button>
    </form>

    <div>
        <% for(let s of slot){ %>
            <%= %>
            <p>realtime: <%=s.slot%> timestamp: <%=s.timestamp%></p>
        <%}%>
    </div>
    
</body>
</html>